Notebook for drought calculation

In [1]:
import sys, os
import geopandas as gpd
import rasterio as rio
import numpy as np
from rasterstats import zonal_stats
from rasterio.plot import show
import pandas as pd
from glob import glob

In [2]:
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable
from rasterio.plot import plotting_extent

In [3]:
out_dir = os.path.join(os.path.expanduser("~"), 'data', 'south_sudan')
out_spei = os.path.join(out_dir, 'spei')

In [4]:
adm2 = gpd.read_file(os.path.join(out_dir, "SS_ADM2.shp"))

In [5]:
spei_files = os.listdir(out_spei)

In [6]:
spei_files = [os.path.join(out_spei, f) for f in spei_files]

## Drought chart

In [7]:
spei_files[0:5]

['/home/wb514197/data/south_sudan/spei/wld_cli_spei_gamma_12_terraclimate_1958-12-01.tif',
 '/home/wb514197/data/south_sudan/spei/wld_cli_spei_gamma_12_terraclimate_1959-01-01.tif',
 '/home/wb514197/data/south_sudan/spei/wld_cli_spei_gamma_12_terraclimate_1959-02-01.tif',
 '/home/wb514197/data/south_sudan/spei/wld_cli_spei_gamma_12_terraclimate_1959-03-01.tif',
 '/home/wb514197/data/south_sudan/spei/wld_cli_spei_gamma_12_terraclimate_1959-04-01.tif']

In [28]:
for file in spei_files[0:5]:
    ymd = file[-14:-4]
    ymd = ymd.split('-')
    y = ymd[0]
    m = ymd[1]

In [35]:
# spei_class = {
#     'Exceptionally Moist' : [2, 100],
#     'Extremely Moist' : [1.5, 2],
#     'Very Moist' : [1.2, 1.5],
#     'Moderately Moist' : [0.7, 1.2],
#     'Abnormally Moist' : [0.5, 0.7],
#     'Near Normal' : [-0.5, 0.5],
#     'Abnormally Dry' : [-0.7, -0.5],
#     'Moderately Dry' : [-1.2, -0.7],
#     'Severely Dry' : [-1.5, -1.2],
#     'Extremely Dry' : [-2, -1.5],
#     'Exceptionally Dry' : [-100, -2]
# }
# spei_class = {
#     'Exceptionally Moist' : 11,
#     'Extremely Moist' : 10,
#     'Very Moist' : 9,
#     'Moderately Moist' : 8,
#     'Abnormally Moist' : 7,
#     'Near Normal' : 6,
#     'Abnormally Dry' : 5,
#     'Moderately Dry' : 4,
#     'Severely Dry' : 3,
#     'Extremely Dry' : 2,
#     'Exceptionally Dry' : 1
# }

In [118]:
spei_class.keys()

dict_keys(['Exceptionally Moist', 'Extremely Moist', 'Very Moist', 'Moderately Moist', 'Abnormally Moist', 'Near Normal', 'Abnormally Dry', 'Moderately Dry', 'Severely Dry', 'Extremely Dry', 'Exceptionally Dry'])

In [125]:
spei_rio = rio.open(file)
data = spei_rio.read(1)

In [127]:
classes = ['Exceptionally Dry',
 'Extremely Dry',
 'Severely Dry',
 'Moderately Dry',
 'Abnormally Dry',
 'Near Normal',
 'Abnormally Moist',
 'Moderately Moist',
 'Very Moist',
 'Extremely Moist',
 'Exceptionally Moist']

bins = [-100, -2, -1.5, -1.2, -0.7, -0.5, 0.5, 0.7, 1.2, 1.5, 2, 100]

In [128]:
data[np.isnan(data)] = -9999

In [129]:
data_cat = np.digitize(data, bins)

In [130]:
# data_cat[np.isnan(data)] = -1

In [132]:
data.max()

2.4126353

In [131]:
data_cat[data_cat==0]

array([0, 0, 0, ..., 0, 0, 0])

In [98]:
np.unique(data_cat)

array([ 6,  7,  8,  9, 10, 11])

In [140]:
(unique, counts) = np.unique(data_cat, return_counts=True)

In [141]:
counts

array([27324,  2908,  1531,  5845,  5485,  9708,  3958])

In [150]:
counts, b = np.histogram(data, bins=bins)

In [151]:
counts

array([   0,    0,    0,    0,    0, 2908, 1531, 5845, 5485, 9708, 3958])

In [152]:
# pd.DataFrame(counts, columns=[f"{y}-{m}"], index=classes)

In [165]:
from tqdm import tqdm

In [166]:
res = []
for file in tqdm(spei_files):
    ymd = file[-14:-4]
    ymd = ymd.split('-')
    y = ymd[0]
    m = ymd[1]
    
    spei_rio = rio.open(file)
    data = spei_rio.read(1)
    data[np.isnan(data)] = -9999
    counts, b = np.histogram(data, bins=bins)
    res_df = pd.DataFrame(counts, columns=[f"{y}-{m}"], index=classes)
    res.append(res_df)

100%|██████████| 745/745 [00:03<00:00, 201.48it/s]

In [167]:
res = pd.concat(res, axis=1)

Make sure that order of classes matches with Benny's template

In [179]:
classes.reverse()

In [180]:
classes

['Exceptionally Moist',
 'Extremely Moist',
 'Very Moist',
 'Moderately Moist',
 'Abnormally Moist',
 'Near Normal',
 'Abnormally Dry',
 'Moderately Dry',
 'Severely Dry',
 'Extremely Dry',
 'Exceptionally Dry']

In [181]:
res.loc[classes, :]

,1958-12,1959-01,1959-02,1959-03,1959-04,1959-05,1959-06,1959-07,1959-08,1959-09,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
Exceptionally Moist,1430,3488,5535,7731,3958,3813,1162,0,0,6,...,0,0,0,0,50,175,498,541,667,467
Extremely Moist,11653,11697,11626,10773,9708,10738,2889,970,63,402,...,0,0,0,0,228,268,491,496,471,467
Very Moist,6937,5881,4822,4101,5485,5550,3871,2198,903,2338,...,0,0,4,1,188,288,318,347,326,351
Moderately Moist,5672,4829,4436,4022,5845,7223,10561,9830,13035,13200,...,0,137,212,166,823,595,803,691,582,527
Abnormally Moist,2541,2139,2331,2149,1531,1474,2921,4494,4581,5982,...,21,144,148,139,506,280,235,309,300,251
Near Normal,1202,1401,685,659,2908,637,8021,11698,10809,7507,...,1710,2009,2090,2182,1533,1706,2842,2806,2867,2870
Abnormally Dry,0,0,0,0,0,0,10,209,44,0,...,441,315,455,462,423,461,966,982,1013,1018
Moderately Dry,0,0,0,0,0,0,0,36,0,0,...,809,868,1007,831,1651,3250,4029,3297,3343,3088
Severely Dry,0,0,0,0,0,0,0,0,0,0,...,721,585,1047,518,1891,3357,4972,5108,4497,4809
Extremely Dry,0,0,0,0,0,0,0,0,0,0,...,5682,5893,7411,4011,8058,8095,8358,6579,6170,6416
Exceptionally Dry,0,0,0,0,0,0,0,0,0,0,...,20051,19484,17061,21125,14084,10960,5923,8279,9199,9171

In [183]:
res.loc[classes, :].to_csv(os.path.join(out_dir, "spei_summary.csv"))